<!-- src/app/admin/admin.component.html -->
<div class="container-fluid">
  <div class="row">
    <div class="col-2">
      <app-admin-sidebar
        (addLawyer)="onAddLawyer()"
        (consavocat)="onconsavocat()"
        (createAffaire)="onCreateAffaire()"
        (analyse)="onanalyse()"
        (consulteraffaire)="onconsaffaire()">
      </app-admin-sidebar>
    </div>
    <div class="col-10 mt-5">
      <div class="card text-center">
        <div *ngIf="showAddLawyerForm">
          <app-ajouter-avocat></app-ajouter-avocat>
        </div>
        <div *ngIf="showCreateAffaireForm">
          <app-create-affaire></app-create-affaire>
        </div>
        <div *ngIf="showconsavocat">
          <app-consulter-avocat></app-consulter-avocat>
        </div>
        <div *ngIf="showalanyse">
          <app-analyse></app-analyse>
        </div>
        <div *ngIf="showconsaffaire">
          <app-consulter-affaires></app-consulter-affaires>
        </div>
      </div>
    </div>
  </div>
</div>
