<div class="container mt-5">
  <div class="card text-center" style="padding: 20px;">

  <div class="reset-password-container">
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="oldPassword">Ancien mot de pass</label>
      <input id="oldPassword" type="password" formControlName="oldPassword">
      <div *ngIf="resetPasswordForm.controls['oldPassword'].invalid && resetPasswordForm.controls['oldPassword'].touched">
        Old password is required.
      </div>
    </div>

    <div>
      <label for="newPassword">Nouveau mot de pass</label>
      <input id="newPassword" type="password" formControlName="newPassword">
      <div *ngIf="resetPasswordForm.controls['newPassword'].invalid && resetPasswordForm.controls['newPassword'].touched">
        New password is required and must be at least 6 characters long.
      </div>
    </div>

    <div>
      <label for="confirmPassword">Confirmer nouveau mot de pass</label>
      <input id="confirmPassword" type="password" formControlName="confirmPassword">
      <div *ngIf="resetPasswordForm.controls['confirmPassword'].invalid && resetPasswordForm.controls['confirmPassword'].touched">
        Passwords must match.
      </div>
    </div>

    <button type="submit" [disabled]="resetPasswordForm.invalid">Reset Password</button>

    <div *ngIf="errorMessage">{{ errorMessage }}</div>
  </form>
</div>
  </div>
</div>
