<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center">
                  <h4 class="mt-1 mb-5 pb-1" style="color: darkblue; font-family: 'Arabic Typesetting'; font-size: 45px; font-weight: bold;">Narsa team</h4>
                </div>

                <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                  <div data-mdb-input-init class="form-outline mb-4 d-flex align-items-center">
                    <label class="form-label me-2" for="userName">Username</label>
                    <input type="text"
                           ngModel
                           name="userName"
                           id="userName"
                           class="form-control"
                           placeholder="Phone number or email address" required />
                  </div>

                  <div data-mdb-input-init class="form-outline mb-4 d-flex align-items-center">
                    <label class="form-label me-2" for="userPassword">Password</label>
                    <input type="password"
                           ngModel
                           name="userPassword"
                           id="userPassword"
                           class="form-control" required />
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary" type="submit">
                      Log in
                    </button>
                    <a class="text-muted d-block mt-2" href="#!">Forgot password?</a>
                  </div>
                </form>

              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                <img src="assets/narsapic.png" alt="Narsa Team">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
