<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark " style="background-color: #11101D;">
  <!-- Container wrapper -->
  <div class="container-fluid" style="background-color: #11101D;">
    <!-- Navbar brand -->
    <img src="assets/narsapic.png" style="width: 300px; height: 80px; padding-left: 70px;">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/home"  style="font-weight: bolder;font-size: 20px;">Home</a>
        </li>
        <li class="nav-item" *ngIf="userService.roleMatch(['Admin'])">
          <a class="nav-link active" aria-current="page" routerLink="/admin" style="font-weight: bolder;font-size: 20px;">Admin Dashboard</a>
        </li>
        <li class="nav-item" *ngIf="userService.roleMatch(['User'])">
          <a class="nav-link active" aria-current="page" routerLink="/user" style="font-weight: bolder;font-size: 20px;">User Dashboard</a>
        </li>
      </ul>
      <!-- Left links -->

      <!-- Right elements -->
      <div class="d-flex align-items-center">


        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-success ms-3" (click)="navigateToLogin()">Login</button>
        <button *ngIf="isLoggedIn()" type="button" class="btn btn-danger ms-3" (click)="logout()">Logout</button>
      </div>
      <!-- Right elements -->
    </div>
    <!-- Collapsible wrapper -->
  </div>
  <!-- Container wrapper -->
</nav>
<!-- Navbar -->
<script>
  import { Dropdown, Collapse, initMDB } from "mdb-ui-kit";

  initMDB({ Dropdown, Collapse });
</script>
